fieldset{
    width: 550px; 
    margin:  0px auto;
    background-color: white;
   
}
label{
    text-align: left;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   
}
p{
    font-size: small;
    margin:0;

}
.purshase{
background-color: lightgray;
}
.Overall{
    background-color: lightgray;
}
.Buy{
    background-color: lightgray;
}
.Company{
    background-color:lightgray;
}
.satisfied{
    font-size: 15px;
    font-style: italic;

}
td{
    text-align: center;
}
th{
    text-align: left;
}
  
.required:after {
    content:" *";
    color: red;
  }
  table{
      font-size: 15px;
    font-style: italic;
  }
  .radio{
      line-height: 6px;
  }
